<h1>Alpha Blog</h1>
<p>

<button type="button" class="btn btn btn-block"><%=link_to "Create new Article", new_article_path %></button>

 </p>

 <h4 class="text-capitalize">lisitng all articles</h4>
<br>
 <table class="table">
 <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created by</th>
    </tr>
    
    <% @articles.each do |article|%>
    <tr>
        <td> <%= article.title%></td>
        <td> <%= article.description%></td>
        <td><%= article.user.username if article.user%> </td>
        <td></td>
        <td></td>   
        <td> <%=link_to 'Show', article_path(article) %> </td>
        <% if logged_in? && current_user == article.user%>
            <td> <%=link_to 'Edit', edit_article_path(article)%> </td>
            <td> <%=link_to 'Destory', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %> </td>   
        <% end %>
    </tr>
    
    <%end%>
    </thead>
</table>