
<div class="jumbotron1" style="margin-top: 10%">
    <div class="container col-md-12">
    
        <center><h3> <b><%=@article.title%> </b></h3>
          <div class="font-italic">
            by <%= @article.user.username if @article.user %>
          </div>
          <% if logged_in? && current_user == @article.user%>
            <p> <%= social_share_button_tag(@article.title) %></p>
          <%end%>
        </center>
        <p class="description"> <%=@article.description.html_safe%> </p>
        <% if @article.avatar.attached? %>
          <center><image src = "<%= (url_for(@article.avatar))%>" width="500" height="200"></center>
            <br>
        <% end %>
        <div class="text-center">
          <% if logged_in? && current_user == @article.user%>
              <%=link_to 'Edit', edit_article_path(@article),  class: "btn btn-xs btn-info" %>|  
              <%= link_to 'Delete', article_path(@article), method: :delete, 
                      data: {confirm: "Are you sure?"},  class: "btn btn-xs btn-danger"%> 
          <% end %>
          <%=link_to 'Back to Home',articles_path, class: "btn btn-xs btn-success" %>
          <br>
        </div> 
        <br>
          <div class="panel panel-default">
            <div class="panel-heading">Comments</div>
            <div class="panel-body">
               <% @article.comments.each do |comment|%>
              <strong>By <%=comment.User.username%>:</strong>
              <%=comment.description%><br>
            <%end%>
            <br>
             <button type="button" class="btn btn-primary btn-xs cus_btn" data-toggle="modal" data-target="#myModal_comment<%= @article.id %>">Add Comment</button>

                <div id="myModal_comment<%= @article.id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Add Comment</h4>
                      </div>
                      <div class="modal-body">
                        <%@comment = Comment.new(article_id: @article.id)%>
                        <%= render :partial => '/comments/form', :locals => {:comment => @comment,:article_id => @article.id } %>
                      </div>  
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div> 
          <br>
          <br>
    </div>
</div>
 <div class="panel-footer text-muted">
    <small>Created <%= time_ago_in_words(@article.created_at) %> ago, 
        edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
</div>