<p id="notice"><%= notice %></p>
<h1>Students</h1>
<% @users.each do |user|%>
 <div class="panel panel-primary">
      <div class="panel-heading">
        <nav class="nav">
            <ul class="nav navbar-nav">
              <li ><%= link_to 'Show', user %></li>
              <% if current_user.admin?%>
              <li><%= link_to 'Edit', edit_user_path(user) %></li>
              <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }%></td></li>
              <%end%>
            </ul>
        </nav>
      </div>
      <div class="panel-body">
        <label>Name: <%=user.username%></label>
        <label>Email: <%=user.email%></label>
        <label>Firstname: <%=user.firstname%></label>
        <label>Lastname: <%=user.lastname%></label>
        <label>PRN Number: <%=user.prn_number%></label>
        <label>Is Admin: <%=user.admin%></label>
      </div>
  </div>
<% end %>  

<br>
<center><%= will_paginate @users, renderer: BootstrapPagination::Rails %></center>
<%= link_to 'New Student', new_user_path %>
