<!-- <center style="margin-top: 5%"><h1 style="color: rgb(0,0,128);">SignUp Form </h1></center> -->
<head>
    <style>
        body {
            background: url(<%= asset_path '8BWvUj.jpg' %>);
            background-size: cover;
            background-attachment: fixed;
            }
    </style>        
</head>
<body>
<div class="left">
    <h1><%= image_tag("logo2.png", size: "200x200", alt: "Edit Entry")%></h1>
    <p>A platform where you can share your thoughts</p>
 </div>

<div class="sign">
    <%if !logged_in?%>
	<h3 align="center" style="margin-bottom: 5px;">Sign Up</h3>
    <%else%>
    <h3 align="center" style="margin-bottom: 5px;">Create Admin</h3>
    <%end%>
	<%= render 'form', user: @user %>
    <%if !logged_in?%>
	<span>Do you already have an account? </span><%= link_to 'Log In', login_path %>
    <%end%>
</div>


<br><br><br>
</body>
<!-- <div class="footer">
<%= link_to 'Back', pages_path %>
</div> -->

